<h2>List of orders</h2>
<table class="table small">
  <thead>
  <tr>
    <th scope="col">Product ID</th>
    <th scope="col">Order</th>
    <th scope="col">Name</th>
    <th scope="col">Phone</th>
    <th scope="col">Address</th>
  </tr>
  </thead>
  <tbody>
  <% @orders_all.reverse.each do |order| %>
    <tr>
      <th scope="row"><%= order.id %></th>
      <td><%= order.orders_input %></td>
      <td><%= order.name %></td>
      <td><%= order.phone %></td>
      <td><%= order.address %></td>
    </tr>
  <% end %>
  </tbody>
</table>
